@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --bg-color: #ffffff;
    --text-color-primary: #374151;
    --text-color-headings: #111827;
    --text-color-secondary: #6b7280;
    --text-color-tertiary: #9ca3af;
    --border-color: #e5e7eb;
    --link-bg: #ffffff;
    --link-bg-hover: #f9fafb;
    --link-border: #e5e7eb;
    --link-border-hover: #d1d5db;
    --link-text: #1f2937;
  }

  .dark {
    --bg-color: #111827;
    --text-color-primary: #d1d5db;
    --text-color-headings: #f9fafb;
    --text-color-secondary: #9ca3af;
    --text-color-tertiary: #6b7280;
    --border-color: #374151;
    --link-bg: #1f2937;
    --link-bg-hover: #374151;
    --link-border: #374151;
    --link-border-hover: #4b5563;
    --link-text: #f3f4f6;
  }
}

